*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header .content{
    background-image: url(img/nav_bg.png);
}

header{
    background: lightblue;
}

.content{
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 0 15px;
    background: lightblue;
    overflow: hidden;
}

header .logo, footer .logo{
    display: block;
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    float: left;
}



header nav {
    position: relative;
    height: 50px;
    top: 30px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 2px solid #0066FF;
	border-radius: 20px 5px;
    width: 600px;
	text-align: center;
	background-color: #33ADFF;
    }



header nav a {
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    }

header nav {
    float:left; 
    height: 55px;
    position:relative;
    left: 10%;
    } 
    
    
header nav a {
    font-size: 10px;
    color: #686868;
    display:inline-block;
    padding:20px;
    text-decoration:none;
    text-transform:uppercase;
    }
    
header nav a:hover {
    
    color: #111111;
    text-decoration:underline;
    }


 header nav a:hover {
	border-radius: 20px 5px ;
	background-color: #0066FF;
    }



main{
    margin: 15px 0; 
    padding-bottom:130px;
    

}

footer{
    background: lightblue;
    position: absolute;
    width: 100%;
    min-height: 115px; 
    bottom: 0;
    
}
.wrap{
    position: relative;
    min-height: 100%;
    
}

html, body{
    height: 100%;
}

.wrapper{
    background: lightblue;
}

    
main p{
    text-align: justify;
    line-height: 100%;
    color: darkgray;
}

.img1 {
    float:left; 
    margin: 7px 7px 7px 0; 
    
}

.img2 {
    float: right;  
    margin: 7px 0 7px 7px;
}

.footer__row > *, .footer__section_menu nav {
    list-style: none;
    
}

.footer__section_contacts{
    float: right;
    padding: 20px 0 0 0;
}

.footer__section_menu nav{
    padding: 5px;
    margin: 0 50px;
    padding-left: 70px;
}

footer nav a{
    text-decoration: none;
}

footer nav a:hover{
    background: #33ADFF;
}



.footer__section_menu nav a{
    text-decoration: none;
    margin-left: 120px;
    
}

main .content{
    background-image: url(img/main_bg.png);
    
    
}

footer .content{
    background-image: url(img/main_bg.png)
}

main h2{
    color: #686868;
}

header span{
    color: red;
}

.check_box{
    position: relative;
    top: 50px;
    left: 100px;
}





/* View for mobile device(Tablet) */
@media (max-width: 768px){
    header nav{
        width: 550px;
    }

    /* .footer__section_menu nav {
        margin: 20px 30px;
    } */
}

@media (orientation: Landscape) and (max-width: 667px){
    header nav{
        width: 480px;
    }

    .footer__section_menu nav{
        margin: unset;
        padding: 2px;
    }

    .footer__section_menu nav a{
        margin-left: 90px;
    }

    
}

/* Landscape orientation (Smatphone) */
@media (orientation: Landscape) and (max-width: 640px){
    header nav{
        width: 450px;
    }

    .footer__section_menu nav{
        margin: unset;
        
    }

    .footer__section_menu nav a{
        margin-left: 80px;
    }

    
}



@media (orientation: portrait) and (max-width: 375px){
    header .logo{
        position: relative;
        left: 35%;
    }

    header nav{
        width: 100%;
        top: unset;
        left: unset;
    }

    header nav a{
        width: 60px;
        
    }

    header nav a:hover{
        background-color: unset;
    }

    .footer__section_menu nav{
        margin: 2px;
        padding-left: unset;
        padding: unset;
    }

    .img1{
        position: relative;
        left: 5%;
    }
    .img2{
        position: relative;
        float:left;
        
    }

    main .content h2{
        text-align: center;
    }

    footer .content{
        height: 100px;
    }

    .footer__section_menu nav a{
        margin-left: 15px;
    }

}






/* View for mobile device(smartphone). Orientation - Portrait */
@media (max-width: 360px)  
    and (orientation: portrait){
    

    .img1{
        position: relative;
        left: 5%;
    }
    .img2{
        position: relative;
        float:left;
        
    }

    main .content h2{
        text-align: center;
    }

    header nav{
        width: 100%;
        top: -1px;
        left: -1px;
    }

    

    

    .footer__section_menu nav li{
        display: inline-block;
    }

    .footer__section_menu nav{
        float: none;
    }

    .footer__row > *, .footer__section_menu nav {
        float: none;
    }

    header .logo{
        position: relative;
        left: 35%;
    }

    header nav a:hover {
        background-color: unset;
    }
}













