*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    height: 100%;
}

.wrapper{
    min-height: 100%;
}

main {
    padding-bottom: 100px;
    /*Высота футера*/
  }
footer {
    margin-top: -100px;
    /*Минус Высота футера*/
    height: 100px;

}



.header_wrapper {
    background: url("../img/neonbrand-570373-unsplash.png") no-repeat;
    background-position: center;
    width: 100%;
    height: 669px;
}

header {
    background-image: linear-gradient(to top,
    rgba(0, 241, 255, 0.8) 0%,
    rgba(0, 168, 178, 0.8) 100%);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}



input[type="text"]{
    display: flex;
    flex-direction: column;
}

.header_logo{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    flex: 0.5;

}

.logo{
    width: 276px;
    height: 109px;
    margin-bottom: 55px;
}

.talk{
    width: 331px;
    height: 88px;
    color: #333333;
    font-family: "Catamaran - Regular";
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 3.6px;
    
    margin-left: -20px;
    
}


.all_form{
    width: 377px;
    height: 422px;
    box-shadow: 0 6px 6px 1px rgba(44, 43, 45, 0.7);
    background-color: #333333;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

header .form_toogle{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.form-text{
    width: 317px;
    height: 40px;
    color: #ffffff;
    font-family: "Catamaran - Regular";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1.6px;
}

header form{
    margin-top: 23px;
}

header form * {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 17px 15px 13px;
}

input[type="text"], 
input[type="email"], 
input[type="password"]{
    width: 347px;
    height: 40px;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder{

    opacity: 0.7;
    color: #333333;
    font-family: "Catamaran - Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 1.8px;
}

[class*="Button"]{
    width: 190px;
    height: 58px;
    background: none;
    border: none;
    color: #ffffff;
    font-family: "Catamaran - Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 1.8px;
}

.Button2{
    background-color: #ffffff;
    opacity: 0.7;
    color: black;
}

.register{
    width: 347px;
    height: 40px;
    background-color: #ff6600;
}

header form .register a{
    width: 230px;
    height: 31px;
    color: #333333;
    font-family: "Catamaran - Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
}

.main-title{
    color: #00a8b2;
    font-family: "Catamaran - Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 72px;
}

.desc{
    display: flex;
    justify-content: center;
    color: #333333;
    font-family: "Catamaran - Regular";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1.6px;
    margin-top: 10px;
}

main .blocks{
    margin-top: 52px; 
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}

main .blocks h2{
    
    color: #00a8b2;
    font-family: "Catamaran - Black";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    line-height: 36px;
}

main .blocks p{
    /* Text style for "Create you" */
    font-family: "Catamaran Light";
    font-weight: 300;
    letter-spacing: 1.6px;
    line-height: 24px;
    
}

main img{
    width: 75px;
    height: 71px;
}

footer{
    width: 100%;
    height: 121px;
    background-color: #333333;
    margin-top: 74px;
}

footer .footer_logo img{
    width: 160px;
    height: 64px;
    margin-top: 28px;
    margin-left: 54px;
    margin-top: 28px;
}

.footer__section_contacts a{
    text-decoration: none;
    color: #ffffff;
}

.footer__section_contacts p{
    text-align: center;
    font-family: "Catamaran - Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    color: #ffffff;
    letter-spacing: 1.6px;
    margin-right: 97px;
}

.footer__section_contacts{
    display: flex;
    align-items: center;
}

footer{
    display: flex;
    justify-content: space-between;
    position: absolute;
}

@font-face {
    font-family: "Catamaran - Regular";
    src: url("../fonts/Catamaran/Catamaran-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Catamaran - Bold";
    src: url("../fonts/Catamaran/Catamaran-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Catamaran - Black";
    src: url("../fonts/Catamaran/Catamaran-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Catamaran - Light";
    src: url("../fonts/Catamaran/Catamaran-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* Tablet screen(rotate) */
@media (max-width: 1024px) and (orientation: landscape){
    .all_form{
        margin-left: 150px;
    }

    .main-title{
        margin-top: 50px; 
    }

    footer{
        margin-top: 50px;
    }
}

/* Tablet screen */
@media (orientation: portrait) and (max-width: 780px) {
    .all_form{
        margin-left: 30px;
    }

    .main-title{
        margin-top: 50px; 
    }

    footer{
        margin-top: 50px;
    }
}


/* Phone screen (rotate) */
@media (orientation: landscape) and (max-width: 670px) {
    .header_logo{
        flex: unset;
        margin-left: 20px;
    }

    .logo{
        margin-bottom: unset;
    }

    footer{
        margin-top: -30px;
    }

    .desc{
        text-align: center;
    }

    .all_form{
        margin-left: unset;
    }
}

/* Phone screen */
@media (max-width: 375px) and (orientation: portrait){
    .logo{
        width: 100%;
        margin-bottom: unset;
        margin-top: 15px;
    }

    .talk{
        margin-left: unset;
    }

    .all_form{
        width: 320px;
        margin-left: unset;
    }

    input[type="text"], 
    input[type="email"], 
    input[type="password"]{
        width: 295px;
        height: 40px;

    }
    .register{
        width: 295px;
    }

    .main-title{
        margin-top: 45px;
    }

    .desc{
        text-align: center;
    }
    
    main .blocks{
        flex-direction: column;
    }

    main img{
        width: 140px;
        height: 140px;
    }

    main .blocks h2{
        font-size: 25px;
    }
    [class*="block"]{
        margin-top: 20px;
    }

    footer{
        margin-top: -15px;
        height: 145px;
        justify-content: center;
        flex-wrap: wrap;

    }

    footer .footer_logo img{
        margin-left: unset;
        margin-top: 5px;
    }

    .footer__section_contacts p{
        margin-right: unset;
    }
}











